NET "N2_50MHZ_I"     LOC = B8;
NET "N2_XOSC_I"      LOC = U9;
NET "N2_BTN0_I"      LOC = B18;
NET "N2_BTN1_I"      LOC = D18;
NET "N2_BTN2_I"      LOC = E18;
NET "N2_BTN3_I"      LOC = H13;
NET "N2_SW0_I"       LOC = G18;
NET "N2_SW1_I"       LOC = H18;
NET "N2_SW2_I"       LOC = K18;
NET "N2_SW3_I"       LOC = K17;
NET "N2_SW4_I"       LOC = L14;
NET "N2_SW5_I"       LOC = L13;
NET "N2_SW6_I"       LOC = N17;
NET "N2_SW7_I"       LOC = R17;
NET "N2_LED0_O"      LOC = J14;
NET "N2_LED1_O"      LOC = J15;
NET "N2_LED2_O"      LOC = K15;
NET "N2_LED3_O"      LOC = K14;
NET "N2_LED4_O"      LOC = E16;
NET "N2_LED5_O"      LOC = P16;
NET "N2_LED6_O"      LOC = E4;
NET "N2_LED7_O"      LOC = P4;
NET "N2_AN0n_O"      LOC = F17;
NET "N2_AN1n_O"      LOC = H17;
NET "N2_AN2n_O"      LOC = C18;
NET "N2_AN3n_O"      LOC = F15;
NET "N2_CAn_O"       LOC = L18;
NET "N2_CBn_O"       LOC = F18;
NET "N2_CCn_O"       LOC = D17;
NET "N2_CDn_O"       LOC = D16;
NET "N2_CEn_O"       LOC = G14;
NET "N2_CFn_O"       LOC = J17;
NET "N2_CGn_O"       LOC = H14;
NET "N2_CDPn_O"      LOC = C17;
NET "N2_PS2CLK_I"    LOC = R12;
NET "N2_PS2DAT_IO"   LOC = P11;
NET "N2_HSYNC_O"     LOC = T4;
NET "N2_VSYNC_O"     LOC = U3;
NET "N2_RED_O[0]"    LOC = R9;
NET "N2_RED_O[1]"    LOC = T8;
NET "N2_RED_O[2]"    LOC = R8;
NET "N2_GRN_O[0]"    LOC = N8;
NET "N2_GRN_O[1]"    LOC = P8;
NET "N2_GRN_O[2]"    LOC = P6;
NET "N2_BLU_O[1]"    LOC = U5;
NET "N2_BLU_O[2]"    LOC = U4;
NET "N2_RXD_I"       LOC = U6;
NET "N2_TXD_O"       LOC = P9;
NET "N2_OE_O"        LOC = T2;
NET "N2_WE_O"        LOC = N7;
NET "N2_RAM_ADV_O"   LOC = J4;
NET "N2_RAM_CLK_O"   LOC = H5;
NET "N2_RAM_UB_O"    LOC = K4;
NET "N2_RAM_LB_O"    LOC = K5;
NET "N2_RAM_CE_O"    LOC = R6;
NET "N2_RAM_CRE_O"   LOC = P7;
NET "N2_RAM_WAIT_O"  LOC = F5;
NET "N2_ROM_STS_O"   LOC = D3;
NET "N2_ROM_RPn_O"   LOC = T5;
NET "N2_ROM_CE_O"    LOC = R5;
NET "N2_ADR_O[1]"    LOC = J1;
NET "N2_ADR_O[2]"    LOC = J2;
NET "N2_ADR_O[3]"    LOC = H4;
NET "N2_ADR_O[4]"    LOC = H1;
NET "N2_ADR_O[5]"    LOC = H2;
NET "N2_ADR_O[6]"    LOC = J5;
NET "N2_ADR_O[7]"    LOC = H3;
NET "N2_ADR_O[8]"    LOC = H6;
NET "N2_ADR_O[9]"    LOC = F1;
NET "N2_ADR_O[10]"   LOC = G3;
NET "N2_ADR_O[11]"   LOC = G6;
NET "N2_ADR_O[12]"   LOC = G5;
NET "N2_ADR_O[13]"   LOC = G4;
NET "N2_ADR_O[14]"   LOC = F2;
NET "N2_ADR_O[15]"   LOC = E1;
NET "N2_ADR_O[16]"   LOC = M5;
NET "N2_ADR_O[17]"   LOC = E2;
NET "N2_ADR_O[18]"   LOC = C2;
NET "N2_ADR_O[19]"   LOC = C1;
NET "N2_ADR_O[20]"   LOC = D2;
NET "N2_ADR_O[21]"   LOC = K3;
NET "N2_ADR_O[22]"   LOC = D1;
NET "N2_ADR_O[23]"   LOC = K6;
NET "N2_DAT_IO[0]"   LOC = L1;
NET "N2_DAT_IO[1]"   LOC = L4;
NET "N2_DAT_IO[2]"   LOC = L6;
NET "N2_DAT_IO[3]"   LOC = M4;
NET "N2_DAT_IO[4]"   LOC = N5;
NET "N2_DAT_IO[5]"   LOC = P1;
NET "N2_DAT_IO[6]"   LOC = P2;
NET "N2_DAT_IO[7]"   LOC = R2;
NET "N2_DAT_IO[8]"   LOC = L3;
NET "N2_DAT_IO[9]"   LOC = L5;
NET "N2_DAT_IO[10]"  LOC = M3;
NET "N2_DAT_IO[11]"  LOC = M6;
NET "N2_DAT_IO[12]"  LOC = L2;
NET "N2_DAT_IO[13]"  LOC = N4;
NET "N2_DAT_IO[14]"  LOC = R3;
NET "N2_DAT_IO[15]"  LOC = T1;

