NET "N2_50MHZ_I"     LOC = B8;
NET "N2_BTN0_I"      LOC = B18;
NET "N2_AN0n_O"      LOC = F17;
NET "N2_AN1n_O"      LOC = H17;
NET "N2_AN2n_O"      LOC = C18;
NET "N2_AN3n_O"      LOC = F15;
NET "N2_CAn_O"       LOC = L18;
NET "N2_CBn_O"       LOC = F18;
NET "N2_CCn_O"       LOC = D17;
NET "N2_CDn_O"       LOC = D16;
NET "N2_CEn_O"       LOC = G14;
NET "N2_CFn_O"       LOC = J17;
NET "N2_CGn_O"       LOC = H14;
NET "N2_CDPn_O"      LOC = C17;
NET "N2_PS2CLK_I"    LOC = R12;
NET "N2_PS2DAT_IO"   LOC = P11;
NET "N2_HSYNC_O"     LOC = T4;
NET "N2_VSYNC_O"     LOC = U3;
NET "N2_RED_O[0]"    LOC = R9;
NET "N2_RED_O[1]"    LOC = T8;
NET "N2_RED_O[2]"    LOC = R8;
NET "N2_GRN_O[0]"    LOC = N8;
NET "N2_GRN_O[1]"    LOC = P8;
NET "N2_GRN_O[2]"    LOC = P6;
NET "N2_BLU_O[1]"    LOC = U5;
NET "N2_BLU_O[2]"    LOC = U4;
NET "N2_SD_CLK_O"		LOC = M15;
NET "N2_SD_MOSI_O"	LOC = K12;
NET "N2_SD_CS_O"		LOC = L15;
NET "N2_SD_LED_O"		LOC = J14;
NET "N2_SD_MISO_I"	LOC = L17;
NET "N2_SD_WP_I"		LOC = M16;
NET "N2_SD_CD_I"		LOC = M14;

NET "N2_50MHZ_I" 		TNM_NET = "tnm_50MHZ_I";
TIMESPEC "TS_50MHZ_I" = PERIOD "tnm_50MHZ_I" 20ns HIGH 50 %;