set_io clk_i		R9
set_io reset_i		K11

set_io leds[0]		D8
set_io leds[1]		B8
set_io leds[2]		B9
set_io leds[3]		A9
set_io leds[4]		B10
set_io leds[5]		A10
set_io leds[6]		B11
set_io leds[7]		A11

set_io _sram_ce		M7
set_io _sram_we		T7
set_io _sram_oe		L5
set_io _sram_ub		J3
set_io _sram_lb		J4
set_io sram_a[1]	N2
set_io sram_a[2]	K5
set_io sram_a[3]	J5
set_io sram_a[4]	M5
set_io sram_a[5]	P4
set_io sram_a[6]	N5
set_io sram_a[7]	P5
set_io sram_a[8]	P7
set_io sram_a[9]	M6
set_io sram_a[10]	P6
set_io sram_a[11]	T8
set_io sram_a[12]	T1
set_io sram_a[13]	P2
set_io sram_a[14]	R1
set_io sram_a[15]	N3
set_io sram_a[16]	P1
set_io sram_a[17]	M11
set_io sram_a[18]	P10
set_io sram_a[19]	P8
set_io sram_d[0]	T2
set_io sram_d[1]	R3
set_io sram_d[2]	T3
set_io sram_d[3]	R4
set_io sram_d[4]	R5
set_io sram_d[5]	T5
set_io sram_d[6]	R6
set_io sram_d[7]	T6
set_io sram_d[8]	N4
set_io sram_d[9]	M4
set_io sram_d[10]	L6
set_io sram_d[11]	M3
set_io sram_d[12]	L4
set_io sram_d[13]	L3
set_io sram_d[14]	K4
set_io sram_d[15]	K3

